.gilroyBold {
  font-family: "GilroyBold";
}
.gilroyLight {
  font-family: "GilroyLight";
}
.adiHaus {
  font-family: "AdihausDIN";
}

.banner-img {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.modal-box::-webkit-scrollbar {
  display: none;
}

.reactModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  background-color: white;
  border: 2px solid #4f46e5;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .reactModal {
    margin-left: 160px;
  }
}

.offerBg {
  background-image: url("https://i.ibb.co/gdys9w0/offerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* .shopNowBtn {
  position: relative;
  transition: 0.3s ease;
  background: #fff;
  color: #000;
  border-radius: 30px;
  padding: 20px 50px;
  font-size: 1.25rem;
  margin: 32px;
  transition: transform 0.3s ease;
}

.shopNowBtn::after,
.shopNowBtn::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.shopNowBtn:hover {
  transform: translate(-12px, -12px);
}
.shopNowBtn:hover::after {
  transform: translate(6px, 6px);
}
.shopNowBtn:hover::before {
  transform: translate(12px, 12px);
} */
